{% extends "base.html" %}

{% block head %}
<link href="/static/css/about_us.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block content%}
<main>
<p>Nosotros somos Otoniel Lara Soto, Taimi Pérez Tejeda y Gerald Castillo Maceo.  Pertenecemos a la carrera Ingeniería Química de la Universidad Autónoma de Santo Domingo (UASD). En octubre del 2019 decidimos dar inicio a este proyecto con la finalidad de aportan un granito de arena al país, pues este nos ha dado tanto en nuestras vidas.</p>

<p>Este proyecto de tesis surge por los antecedentes históricos de los accidentes ocurridos en los equipos de la plantas de proceso que se convirtieron catástrofes. La importancia de este proyecto de tesis yace en la necesidad de tener procesos más seguros (con menos riesgos) en nuestro país. Esto es posible gracias a los sistemas instrumentados de seguridad (SISs), que nos proporcionan una detección y corrección inmediata de las causas que originarían eventos accidentales.</p>

<p>Le agradecemos a Enmanuel Medina, ingeniero en telemática, porque sin él no podríamos haber llevado a cabo este proyecto. Su ayuda fue realmente esencial en el diseño del software que se utilizó en este proyecto y en la selección de los dispositivos de instrumentación. También le damos las gracias a Héctor Pérez Macarrulla, ingeniero electromecánico, porque nos acogió en su casa y nos explicó los principios de los sistemas instrumentados de seguridad y la importancia que estos tienen en las industrias de proceso.
</p>
</main>

{% endblock %}
