{% extends "base.html" %}

{% block head %}
<link href="/static/css/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/js/chart.js@2.8.0.js"></script>
<script type="text/javascript" src="/static/js/graph.js" data='{{graphData}}'></script>
{% endblock %}

{% block content%}
		{% if form.errors %}
			<div>{{ form.errors }}</div>
		{% endif %}

<main>
	<form class="form-field" action="/graph" method="post" id="graph_form">
		{{ form.hidden_tag() }}
		<div>
			<label>Elige un sensor:</label>
			<select name="{{form.sensorList.name}}" >
				{%for line in form.sensorList.choices%}
					<option value="{{line[0]}}">{{line[1]}}</option>
				{%endfor%}
			</select>			
		</div>
		<div>
			<label for="appt">Fecha de inicio:</label>
			<input type="date" id="appt1" name="{{form.beginDate.name}}" value="{{date}}" >
			<input type="time" id="appt2" name="{{form.beginTime.name}}" value="00:00" >			
		</div>
		<div>
			<label for="appt">Fecha de fin:</label>
			<input type="date" id="appt3" name="{{form.endDate.name}}" value="{{date}}" >
			<input type="time" id="appt4" name="{{form.endTime.name}}" value="23:59" >						
		</div>
		<div>
			<label>Eliga el intervalo:</label>
			<select name="{{form.intervalList.name}}" >
				{%for line in form.intervalList.choices%}
					<option value={{line[0]}}>{{line[1]}}</option>
				{%endfor%}
			</select>			
		</div>
		<div>
			<button type ="submit" form="graph_form" id="submmit-graph">Generar gráfica</button>
		</div>
	</form>
	<canvas id="out_graphics" width="300" height="300"></canvas>
	<button type="button" id="ccv-button">Descargar datos</button>
</main>
{% endblock %}
